<div class="voice-container">

  <label>¿Cómo prefieres que te llamemos?</label>
  
  <input 
    placeholder="Escribe tu nombre"
    type="text" 
    [value]="name"
    disabled
    class="name-input"
  />

  <button class="mic-btn" (click)="startRecognition()">
    <img src="assets/img/micro_blanco.png" alt="" srcset="">
  </button>

  <button class="send-btn" (click)="sendToEncrypt()">
    Enviar para encriptar
  </button>

  <div *ngIf="encrypted" class="result">
    <strong>Resultado encriptado:</strong>
    <p>{{ encrypted }}</p>
  </div>

</div>
