.main-container {
    margin: 0;
    background: #0f0f0f;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.voice-container {
    text-align: center;
    width: 350px;
}

.personas img {
    width: 160px;
    margin-bottom: 15px;
}

h1 {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #bdbdbd;
    margin-bottom: 25px;
}

.label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

/* CONTENEDOR DEL INPUT + BOTÓN */
.input-voice {
    display: flex;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #555;
    padding: 5px 0;
}

.input-voice input {
    flex: 1;
    background: transparent;
    border: none;
    color: #888;
    font-size: 14px;
    outline: none;
}

.input-wrapper input::placeholder {
    color: #777;
}

.mic-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.mic-btn img {
    width: 20px;
}

.reload-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.reload-btn img {
    width: 20px;
    filter: invert(100%);
}

.char-count {
    font-size: 12px;
    color: #999;
    text-align: right;
    margin-top: 5px;
}

.start-btn {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #c2c2c2;
    color: #333;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
